<div class="container" id="Education_<%=ID%>">
<div class ="row">
    <div class="col-sm-7"><h3><%= provider%></h3></div>
    <div class="col-sm-5" style="text-align: right;"><h5>
        <% if(date_finish != null){%>
            <%= date_start + " to " + date_finish%>
        <%}else{%>
            <%= date_start + ", on going"%>
        <%}%>
    </h5></div>
</div>
<div class="row">
    <div class="col-sm-6" style="text-align: left;"><h6><%= topic%></h6></div>
    <div class="col-sm-6" style="text-align: right;"><h6><%= grade%></h6></div>
</div>
<p>
<%= description%>
</p>
</div>